<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Psssstt! Remember to <%= link_to "check-in for #{@friendly_date}", new_check_in_url(check_in: { worked_at: @friendly_date }) %>
    </p>
    <p> --Team Capacitor
    </p>
  </body>
</html>
