<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>
      Welcome to Capacitor!
    </h3>

    <p>We're excited to help you manage your time and attention, mitigate
    burnout, and enable you to accomplish your goals.<p>

    <p>First, you'll want to <%= link_to "log in to the app", root_url %>
      and define the activities you'll be applying your time and attention
      budget towards.</p>

    <p>Then, every evening, you will receive an email asking you to check in and fill out:<ul>
      <li>What activites you spent time on</li>
      <li>Approximately how much time you spent on them</li>
      <li>How they made you feel</li>
      <li>And any notes you'd like to record</li>
    </ul></p>

    <p>Every week you'll receive a weekly summary that highlights which
    activites are draining or building your energy, went over or under your
    planned time-budget, and asking you to archive old activities or log new
    ones!</p>


    <p>If you have any questions or comments, feel free to respond to this email!</p>

    <p> --Team Capacitor </p>
  </body>
</html>
