<section id="projects">
  <h3>Pick a Project to Work On</h3>
  <div class="contents">
    <%- @projects.each do |project| %>
      <article>
        <header>
          <h3><%= link_to project.name, new_project_log_path(project), id: "#{project.id}_new_log_entry" %></h3>
        </header>
        <p>
          <%= project.capacity_remaining %>
        </p>
        <p>
          <%= project.per_weekly %>
        </p>
      </article>
    <% end %>
  </div>
</section>
