<h1>Welcome to Capacitor!</h1>

<%- @projects.each do |project| %>

  <div class="cards">
    <div class="card">
      <div class="card-image">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="">
      </div>
      <div class="card-header">
       <%= link_to project.name, new_project_log_path(project) %>
      </div>
      <div class="card-copy">
        <div class="stats">
          <ul>
            <li><%= project.capacity %><span>Capacity</span></li>
            <li><%= project.capacity_remaining%><span>Capacity Remaining</span></li>
            <li>923<span>Team Members</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>