<section id="week_in_review">
  <h3> Your Week In Review: </h3>
  <p>
    <strong><%= current_account.remaining_personal_capacity %></strong>
    of your
    <strong><%= current_account.weekly_expected_capacity %></strong>
    expected capacity remaining for this week
  </p>
</section>
<%= render partial: "projects" %>
<%= render partial: "recent_logs" %>
