<section id="week_in_review">
  <h3> Your Week In Review: </h3>
  <p><%= current_account.remaining_personal_capacity %> of your personal capacity remaining out of your
  expected <%= current_account.weekly_expected_capacity %> for this week</p>
</section>
<%= render partial: "projects" %>
<%= render partial: "recent_logs" %>
