<h1>Welcome to Capacitor!</h1>


<section id="projects">
  <%- @projects.each do |project| %>
    <article>
      <%= link_to_new_log_entry(project) %>
      <header>
        <h3><%= project.name %>
      </header>
      <main>
        <p>Capacity Remaining: <%=project.capacity_remaining %></p>
      </main>
    </article>
  <% end %>
</section>
