.activities {
  @include outer-container;

  .contents {

    article {
      @extend %activity;
    }
  }
}

%activity {
  @include span-columns(4);
  @include omega(3n);
  background-color: $dark-blue;
  font-size: 1.4rem;
  margin-bottom: $gutter;
  padding: 10px;
  text-align: center;

  footer {
    a {
      @extend %button;
    }
  }
}
