.filters {
  $base-spacing: 1em !default;

  @include clearfix;
  line-height: 1.5;
  padding: 0;

  .filter {
    display: inline;
    list-style: none;

    .subfilter {
      display: inline;
      list-style: none;
    }
  }

  .filter-link {
    @include inline-block;

    border-top: 0;
    font-weight: 400;
    padding: ($base-spacing / 2) $gutter;
    text-decoration: none;

    &:focus {
      outline: none;
    }

    &.is-active {
      margin-bottom: -1px;
    }
  }

  .link {
    @include inline-block;
    border-top: 0;
    font-weight: 400;
    padding: ($base-spacing / 2) $gutter;
  }

  .filter-content {
    display: none;
    float: left;
    padding: $base-spacing $gutter;
    width: 100%;
  }
}
