.filters {
  $base-spacing: 1em !default;

  @include clearfix;
  line-height: 1.5;
  padding: 0;

  li.filter {
    list-style: none;
    display: inline;

    .subfilter {
      list-style: none;
      display: inline;
    }
  }

  a.filter-link {
    font-weight: 400;
    padding: ($base-spacing / 2) $gutter;
    text-decoration: none;
    @include inline-block;
    border-top: 0;

    &:focus {
      outline: none;
    }

    &.is-active {
      margin-bottom: -1px;
    }
  }

  a.link {
    font-weight: 400;
    padding: ($base-spacing / 2) $gutter;
    @include inline-block;
    border-top: 0;
  }

  .filter-content {
    display: none;
    padding: $base-spacing $gutter;
    width: 100%;
    float: left;
  }
}
