#projects {
  @include outer-container;

  .contents article {
    font-size: 1.4rem;
    background-color: $dark-blue;
    @include span-columns(4);
    @include omega(3n);
    margin-bottom: $gutter;
    padding:10px;
    text-align: center;
    footer a {
      @extend button;
    }
  }
}
