// Typography
$base-font-family: $helvetica;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$red: #F60018;
$yellow: #FFBC44;
$white: #fff;
$blue: #99CCFF;
$black:#000000;
$dark-blue:#6B8FB2;
$gray-blue:#4B647D;

// Font Colors
$base-background-color: $white;
$base-font-color: $white;
$invert-font-color: darken($red, 90%);
$action-color: $yellow;

// Border
$base-border-color: $yellow;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
