// Typography
$base-font-family: $helvetica;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$red: #f60018;
$yellow: #ffbc44;
$white: #fff;
$blue: #9cf;
$black: #444;
$dark-blue: #6b8fb2;
$background-color: #27245b;
$foreground-color: $white;

// Font Colors
$base-background-color: $foreground-color;
$base-font-color: $foreground-color;
$invert-font-color: darken($red, 90%);
$action-color: $yellow;
$action-font-color: $base-font-color;

// Border
$base-border-color: $yellow;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba($black, .06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: .3);
