//= require_self
//= require jquery-ui/datepicker

@import 'normalize';
@import 'bourbon';
@import 'grid-settings';
@import 'neat';
@import 'bitters/base';

@import 'lib';
@import 'variables';
@import 'nav';
@import 'filters';
@import 'activities';

body {
  background-color: $background-color;
}

body > header,
body > main,
body > footer {
  @include outer-container;
  margin-bottom: 1em;
}

.brand {
  text-align: center;

  img {
    max-height: 10em;
  }
}

[type='checkbox'] + label {
  display: inline;
  margin-left: .25em;
  margin-right: 3em;
}

fieldset {
  background-color: transparent;
}
