<h2>Logs</h2>

<%= render partial: "filters" %>

<table class="logs">
  <thead>
    <tr>
      <th>Project</th>
      <th>Amount</th>
      <th>Quality</th>
      <th>Date Worked</th>
      <th>Billable?</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "log", collection: @logs %>
  </tbody>
</table>
