<header>
  <h1 class="brand">
    <%= link_to root_path do %>
      <%= image_tag "logo-large.svg", class: "logo" %>
    <% end %>
  </h1>
  <%= render "navigation" %>
  <%= render partial: "notifications" %>
</header>
